NODE_ENV=production
PORT=3001
MONGODB_URI=mongodb://mongodb:27017/vet-management
JWT_SECRET=ganti-ini-dengan-random-string-panjang
JWT_EXPIRES_IN=7d
DEFAULT_USER_PASSWORD=password123
ENABLE_SEED=true
COOKIE_SECURE=false
FRONTEND_ORIGINS=http://wedi-animal-care.ahlabs.my.id
NEXT_PUBLIC_API_URL=http://wedi-animal-care.ahlabs.my.id
